@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
a {
  color: white;
  text-decoration: none;
  -webkit-transform: 0.2s;
          transform: 0.2s;
}
a:hover h2 {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  text-align: center;
}
body {
  position: relative;
  background-color: black;
  min-height: 100vh;
  color: white;
  font-family: "Open Sans", Arial, sans-serif;
  font-family: "Roboto", Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
}
body .container .wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .bg .logoBG {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}
body .bg .logoBG .imgBG {
  z-index: -1;
}
body .bg .logoBG .keysImg {
  width: 100%;
  top: 0;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .bg .logoBG .keysImg .key {
  margin-bottom: 30px;
  margin-right: 30px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
body .bg .logoBG .keysImg .key:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}
body .bg .logoBG .keysImg .key .logger {
  margin: auto;
}
body .bg .logoBG .keysImg .key .logger img {
  width: 100%;
  max-width: 300px;
}
body .bg .logoBG .keysImg .key .mers {
  max-width: 180px !important;
}
body .bg .imgBG {
  width: 50vw;
}
body .keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
body footer {
  -webkit-box-shadow: 0px -1px 10px 15px #ffffff;
  box-shadow: 0px -1px 10px 15px #ffffff;
}
body .fot_wrap {
  z-index: 10000;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
  height: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: -1px 7px 10px 0px #ffffff;
  box-shadow: -1px 7px 10px 0px #ffffff;
}
body .fot_wrap p {
  margin-right: 10px;
}
body .fot_wrap .app-store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .fot_wrap .app-store a {
  margin-right: 10px;
  display: inline-block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .fot_wrap .app-store a:first-child {
  padding: 5px;
  background-color: black;
  border-radius: 5px;
}
body .fot_wrap .app-store a img {
  max-width: 100px;
}
body .panorama {
  width: 100vw;
}
body .panorama .pano_cont {
  width: 100vw;
}
body .panorama .pano_cont .fr {
  width: 100vw;
}
body .panorama .pano_cont .fr iframe {
  height: 50vh;
  width: 100vw;
}
@media (max-width: 1200px) {
  body {
    color: white;
  }
  body .bg {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  body .bg .logoBG {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .bg .logoBG .keysImg {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .bg .logoBG .keysImg .key {
    margin-right: 0px !important;
    width: 50vw;
  }
  body .bg .logoBG .keysImg .key h2 {
    font-size: 15px;
  }
  body .bg .logoBG .keysImg .key:last-child:hover {
    -webkit-transform: scale(1.5) translateY(-30px);
            transform: scale(1.5) translateY(-30px);
  }
  body .bg .logoBG .keysImg .key:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    cursor: pointer;
  }
  body .bg .logoBG .keysImg .key .logger {
    margin: auto;
  }
  body .bg .logoBG .keysImg .key .logger img {
    width: 100%;
    max-width: 100px;
  }
  body .bg .logoBG .keysImg .key .mers {
    max-width: 80px !important;
  }
  body .panorama {
    width: 100vw;
  }
  body .panorama .pano_cont {
    width: 100vw;
  }
  body .panorama .pano_cont .fr {
    width: 100vw;
  }
  body .panorama .pano_cont .fr iframe {
    height: 50vh;
    width: 100vw;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 10px !important;
  }
  footer {
    position: relative;
    z-index: 1;
    height: 48px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: black;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer p {
    font-size: 12px;
  }
  footer .app-store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .app-store a {
    margin-right: 10px;
    display: inline-block;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .app-store a:first-child {
    padding: 5px;
    background-color: black;
    border-radius: 5px;
  }
  footer .app-store a img {
    max-width: 100px;
  }
}
@media (max-width: 440px) {
  footer p {
    display: none;
  }
  .key {
    margin-bottom: 10px !important;
  }
  .key:nth-child(2) {
    margin: 0;
  }
  .key:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
  .key .logger {
    margin: auto;
  }
  .key .logger img {
    width: 100%;
    max-width: 300px;
  }
}
