* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-size: 18px;
  width: 100vw;
}
img {
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex {
  display: flex;
  // justify-content: center;
}
.space {
  display: flex;
  justify-content: space-between;
}

// .container {
//   width: 100vw;
//   height: 100vh;
//   overflow: hidden;
//   position: relative;
//   .background {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     .bg {
//       position: absolute;
//       width: 100vw;
//       height: 100vh;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%) scale(1.2);
//       opacity: 0;
//       transition: 0.5s;
//     }
//     .show {
//       opacity: 1;
//     }
//   }
//   .header_top {
//     position: absolute;
//     top: 10%;
//     left: 50%;
//     transform: translateX(-50%);
//     z-index: 10;
//     p {
//       color: white;
//     }
//   }
//   .slider-container {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     z-index: 0;
//     &::after {
//       content: "";
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       top: 0;
//       left: 0;
//       background: linear-gradient(45deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7));
//     }
//     .slider {
//       border: 2px solid lime;
//       display: flex;

//       width: 800px;
//       // display: grid;
//       // grid-template-columns: repeat(7, 100%);
//       height: 450px;
//       .img {
//         position: relative;
//         // overflow: hidden;
//         img {
//           position: absolute;
//           top: 50%;
//           left: 50%;
//           transform: translate(-50%, -50%);
//           width: 100%;
//         }
//       }
//     }
//   }
//   .slider-container > div {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     z-index: 1;
//   }
//   .slider-container > div > div {
//     //
//     overflow: hidden;
//     box-shadow: 0px 0px 61px 0px rgba(0, 0, 0, 0.62);
//     // width: 50%;

//     // margin: auto;
//     // border: 2px solid red;
//     // display: flex;
//     // justify-content: center;
//   }
//   .content {
//     position: absolute;
//     z-index: 999;
//     width: 800px;
//     height: 450px;
//     left: 50%;
//     top: 50%;
//     transform: translateX(-50%) translateY(-50%);
//     &::before {
//       content: "";
//       position: absolute;
//       height: 17%;
//       width: 100%;
//       bottom: 0;
//       left: 0;
//       background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
//     }
//     .btn {
//       position: absolute;
//       top: 50%;
//       width: 50px;
//       height: 50px;
//       transform: translateY(-50%);
//       padding: 1rem 1.2rem;
//       border-radius: 5px;
//       background: #333;
//       border: none;
//       outline: none;
//       cursor: pointer;
//       opacity: 0.5;
//       transition: 0.3s;
//       font-size: 21px;
//       &:hover {
//         opacity: 0.8;
//       }
//     }
//     #prev {
//       left: 5%;
//       &::before {
//         content: "<";
//         color: white;
//       }
//     }
//     #next {
//       right: 5%;
//       &::before {
//         content: ">";
//         color: white;
//       }
//     }
//     ul {
//       position: absolute;
//       list-style: none;
//       display: flex;
//       bottom: -20%;
//       left: 50%;
//       transform: translateX(-50%);
//       li {
//         margin: 0.3rem;
//         width: 18px;
//         height: 18px;

//         // border: 2.5px solid #2ecc71;
//         cursor: pointer;
//       }
//       .colored {
//         background-color: #2ecc71;
//       }
//     }
//     .icons {
//       background-color: white;
//       padding: 30px;
//     }
//     .option {
//       width: 150px;
//       display: flex;
//       justify-content: center;
//       height: 45px;
//       li {
//       }
//     }
//     img {
//       width: 100%;
//     }

//     .icon_sl {
//       width: 45px;
//     }
//   }
// }

// slider {
.show {
  display: block !important;
}
.slider_container {
  width: 100vw;
  height: 100vh;
  background-color: #333;
  position: relative;
  .slide_bg {
    display: none;
    animation: appear 2s ease-in-out;
  }
  .slider_flex {
    position: absolute;
    // border: 2px solid red;
    width: 800px;
    height: 500px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    .slider {
      position: relative;
      // border: 2px solid lime;
      height: 100%;
      // .flex;

      .slide {
        // .show_left;
        display: none;

        // animation: appear 0.5s ease-in-out;

        img {
          width: 800px;
        }
      }

      .slider_btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        // border: 2px solid red;
        .space;
        .btn_left {
          width: 50px;
          height: 50px;
          background-color: plum;
          border-radius: 5px;
          position: relative;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          .center;
          &::before {
            content: "<";
          }
          &:hover {
            background-color: #333;
            color: white;
            cursor: pointer;
          }
        }
        .btn_right {
          width: 50px;
          height: 50px;
          background-color: plum;
          border-radius: 5px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          .center;
          &::before {
            content: ">";
          }
          &:hover {
            background-color: #333;
            color: white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

// My style
.bmw_section {
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  justify-content: flex-end;
  position: relative;
  .bmw_left {
    float: left;
    width: 55%;
    height: 100%;
    shape-outside: polygon(0 0, 0 200px, 100% 400px, 100% 100%, 0 100%);
  }
  .bmw_right {
    position: relative;
    z-index: 10;
    flex-basis: 60%;
    text-align: right !important;
    padding: 0 40px;
    top: 20%;
    position: relative;
    font-family: "ProximaNovaRegular";
    margin-left: 20vw;
    p {
      font-size: 25px;
      margin: 0 0 10px;
    }
  }
  .left_icon {
    float: left;
    width: 55%;
    height: 100%;
    shape-outside: polygon(0 0, 0 200px, 100% 400px, 100% 100%, 0 100%);
  }
  .bmw_img {
    background-image: url(img/bmw-left.png);
    background-repeat: no-repeat;
    margin-top: 0px;
    width: 963px;
    height: 666px;
    right: 50%;
    bottom: -10vh;
    z-index: 10;
    position: absolute;
  }
}
//
.opportunity_section {
  margin-bottom: 50vh;
  overflow: hidden;
  height: 100vh;
  background-color: white;
  position: relative;
  .opr_left {
    padding: 0 40px;
    top: 5%;
    position: relative;
    font-family: "ProximaNovaRegular";
    position: relative;
    z-index: 10;
    top: 10%;
    .polygon-right {
      float: right;

      height: 100vh;
      width: 50% !important;
      shape-outside: polygon(100% 0, 0 100%, 0 16%);
    }
    margin-left: 30px;
    p {
      font-size: 25px;
      margin: 0 0 10px;
    }
  }
  .opr_img {
    background-repeat: no-repeat;
    width: 963px;
    left: 50%;
    right: 0;
    top: 0;
    position: absolute;
    img {
      // border: 2px solid red;
      // width: 100vw;
      // height: 100vh;
    }
  }
}
//
main {
}
//
@media (max-width: 1370px) {
}
@media (max-width: 992px) {
  max-width: 500px !important;
}
@media (max-width: 767px) {
}
@media (max-width: 450px) {
}

.show_left {
  animation: appearLeft 0.5s ease-in-out !important;
}
.show_right {
  animation: appearLeft 0.5s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appearLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes appearRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
