.slider {
  background-color: lime;
  .slider__wrapper {
    height: 300px;
    width: 100%;
    border: 2px solid white;
    display: flex;
    .slider__slide {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
