
.container {
    // position: relative;
}
.chart {

    top:110vh;
    top:0;
    background: url("../img/BG/chartBG.png") top center/cover;
    height: 100vh;
    padding: 10px 20px;
    // border:2px solid red;
    &::after {
        // content: "";
        // position: absolute;
        // background: url("../img/wave.png") center center/cover;
        // height: 200px;
        // // border: 2px solid red;
        // left:0;
        // right:0;
        // bottom:0;
        // transform: translate(0,200px);
    }
}