.servis {
    min-height: 100vh;
    background-color: white;

    // overflow-x: hidden;
    img {
        // transform: translateX(-20px);
        // width: 200vw;
    }
    .wave {
        width: 100vw;
        overflow: hidden;
    }
    // position: relative;
    .servis-line {
        padding: 50px 0 50px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70%;
        // border:2px solid red;
        .servis-text {
            flex-basis: 40%;
        }

        .img {
            position: relative;
            flex-basis: 20%;
            img {
                // width: 100%;
                width: 300px;
            }
            .whiteImg {
                position: absolute;
                background-color: #ebebeb;
                top:50%;
                left:-150px;
                transform: translate(-50%,-50%);
                display: flex;
                padding: 50px;
                align-items: flex-end;
                overflow-x: hidden;
             
    
                img {
                    width: 150px;
              

                }
                .img-type1 {
        
                    img{ width: 250px;}
                }
            }

        }
    }
    
}
@media (max-width: 1100px) {
    .servis-line {
        padding: 50px 0 50px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
    
  
        // border:2px solid red;
        .servis-text {
            flex-basis: 40%;
        }
        
        .img {
            position: relative;
            align-self: flex-end;

            img {
                width: 100%;
            }
            .whiteImg {
                position: absolute;
                background-color: #ebebeb;
                top:50%;
                left:-150px;
                transform: translate(-50%,-50%);
                display: flex;
                padding: 0px !important;
                align-items: flex-end;
                overflow-x: hidden;
             
    
                img {
                    width: 150px;
              

                }
                .img-type1 {
        
                    img{ width: 250px;}
                }
            }

        }
    }

 }
//  
@media (max-width: 1100px) {
    .servis-line {
        padding: 50px 0 50px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70%;
        flex-direction: column-reverse;
        // border:2px solid red;
        .servis-text {
            flex-basis: 40%;
        }

        .img {
      
            position: relative;
            width: 30vw;
     
            right: 0;
            img {
         
                width: 100% !important;
            }
            .whiteImg {
                position: absolute;
                background-color: #ebebeb;
                top:50%;
                left:-150px;
                transform: translate(-50%,-50%);
                display: flex;
                padding: 0px !important;
                align-items: flex-end;
                overflow-x: hidden;
             
    
                img {
                    width: 150px;
              

                }
                .img-type1 {
        
                    img{ width: 250px;}
                }
            }

        }
    }

 }