* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-size: 18px;
  width: 100vw;
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.slider-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.slider-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #000000, rgba(0, 0, 0, 0.7));
}
.slider-container > div {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.slider-container > div > div {
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 61px 0px rgba(0, 0, 0, 0.62);
          box-shadow: 0px 0px 61px 0px rgba(0, 0, 0, 0.62);
}
.slider {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(7, 100%);
  height: 450px;
}
.img {
  position: relative;
  overflow: hidden;
}
.img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}
.content {
  position: absolute;
  z-index: 999;
  width: 800px;
  height: 450px;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
.btn {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 1rem 1.2rem;
  border-radius: 5px;
  background: #333;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 21px;
}
.btn:hover {
  opacity: 0.8;
}
#prev {
  left: 5%;
}
#prev::before {
  content: "<";
  color: white;
}
#next {
  right: 5%;
}
#next::before {
  content: ">";
  color: white;
}
ul {
  position: absolute;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
ul li {
  margin: 0.3rem;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
ul .colored {
  background-color: #2ecc71;
}
.content:before {
  content: "";
  position: absolute;
  height: 17%;
  width: 100%;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.background .bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.background .show {
  opacity: 1;
}
.icons {
  background-color: white;
  padding: 30px;
}
.option {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
}
img {
  width: 100%;
}
.icon_sl {
  width: 45px;
}
.header_top {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}
.header_top p {
  color: white;
}
.bmw_section {
  height: 100vh;
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
.bmw_section .bmw_left {
  float: left;
  width: 55%;
  height: 100%;
  shape-outside: polygon(0 0, 0 200px, 100% 400px, 100% 100%, 0 100%);
}
.bmw_section .bmw_right {
  z-index: 10;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  text-align: right !important;
  padding: 0 40px;
  top: 20%;
  position: relative;
  font-family: "ProximaNovaRegular";
  margin-left: 20vw;
}
.bmw_section .bmw_right p {
  font-size: 25px;
  margin: 0 0 10px;
}
.bmw_section .left_icon {
  float: left;
  width: 55%;
  height: 100%;
  shape-outside: polygon(0 0, 0 200px, 100% 400px, 100% 100%, 0 100%);
}
.bmw_section .bmw_img {
  background-image: url(img/bmw-left.png);
  background-repeat: no-repeat;
  margin-top: 0px;
  width: 963px;
  height: 666px;
  right: 50%;
  bottom: -10vh;
  z-index: 10;
  position: absolute;
}
.opportunity_section {
  margin-bottom: 50vh;
  overflow: hidden;
  height: 100vh;
  background-color: white;
  position: relative;
}
.opportunity_section .opr_left {
  padding: 0 40px;
  top: 5%;
  font-family: "ProximaNovaRegular";
  position: relative;
  z-index: 10;
  top: 10%;
  margin-left: 30px;
}
.opportunity_section .opr_left .polygon-right {
  float: right;
  height: 100vh;
  width: 50% !important;
  shape-outside: polygon(100% 0, 0 100%, 0 16%);
}
.opportunity_section .opr_left p {
  font-size: 25px;
  margin: 0 0 10px;
}
.opportunity_section .opr_img {
  background-repeat: no-repeat;
  width: 963px;
  left: 50%;
  right: 0;
  top: 0;
  position: absolute;
}
