.slider {
  background-color: lime;
}
.slider .slider__wrapper {
  height: 300px;
  width: 100%;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.slider .slider__wrapper .slider__slide {
  width: 100%;
}
.slider .slider__wrapper .slider__slide img {
  width: 100%;
}
